@page
@using BigMamma_InGroup.services;
@using BigMamma_InGroup.model; 
@using BigMamma_InGroup.Pages;
@model BigMamma_InGroup.Pages.Menu.DisplayPizzaModel
@{
        
        if (UserRepository.LoggedIn == true)
        {
            <form method="get">
            <input type="submit" value="Logout here" asp-page="../Login/Logout">
            </form>
            <form method="get">
                <input type="submit" value="Add new pizza here" asp-page="AddNewPizza">
            </form>
        <form method="post">
            <input type="submit" value="Sort after price" asp-page="DisplayPizza">
        </form>
        <form method="post">
            <input class="form-control" asp-for="Search" />
            <input type="submit" value="Search" asp-page="DisplayPizza" asp-page-handler="Search">
        </form>
        <h1 class=""> Show all pizzas <br /></h1>
        <h4 style="float: right; font-family: 'Comic Sans MS'">
            Logged in as @{
                string usr = UserRepository.CurrentUser ?? "Not logged in";
            }@usr
        </h4>
        <script>


                function print() {
                    var x = document.getElementById("myAudio");
                    x.play();
                }

            </script>
            <audio id="myAudio">
                <source src="https://nathinugget.net/greetings.mp3">
            </audio>
            <table class="table-hover" onclick="print()">
                <thead>
                    <tr>
                        <th>Number/ID </th>
                        <th> Name </th>
                        <th> Price </th>
                        <th> Vegan </th>
                        <th> Family Size </th>
                        <th> Deeppan </th>
                        <th> Classic </th>

                    </tr>
                </thead>
                <tbody>

                    @foreach (Pizza p in Model.PizzaList)
                    {
                    <tr>
                        <td>@{
                                int i;
                                if (UserRepository.IsSorted)
                                {
                                    i = 1 + @Model.OrigList.IndexOf(p);

                                }
                                else
                                {
                                    i = 1 + @Model.PizzaList.IndexOf(p);
                                }

                                }@i</td>
                            <td>@p.Name</td>
                        <td>@{
                                double d = @p.Price * 0.95;
                            }@d </td>
                        <td>@Html.Raw((p.isVegan) ? "✅" : "❌")</td>
                            <td>@Html.Raw((p.isFamilySize) ? "✅" : "❌")</td>
                            <td>@Html.Raw((p.isDeeppan) ? "✅" : "❌")</td>
                            <td>@Html.Raw((p.isClassic) ? "✅" : "❌")</td>
                        @{
                            if (UserRepository.IsAdmin)
                            {
                                <td><a asp-page="EditPizza" asp-route-name="@p.Name">Edit Pizza</a></td>
                                <td><a asp-page="DeletePizza" asp-route-name="@p.Name">Delete Pizza</a></td>
                            }
                            
                        }
                        <td><a asp-page="PutInBasket" asp-route-name="@p.Name">Put in basket 🧺</a></td>
                            





                        </tr>

                    }
                </tbody>

            </table>
        }
        else
        {
            <h1 class=""> Vis alle pizzaer </h1>
            <script>


                function print() {
                    var x = document.getElementById("myAudio");
                    x.play();
                }

            </script>
            <audio id="myAudio">
                <source src="https://nathinugget.net/greetings.mp3">
            </audio>
            <table class="table-hover" onload="print()">
                <thead>
                    <tr>
                        <th>Number/ID </th>
                        <th> Name </th>
                        <th> Price </th>
                        <th> Vegan </th>
                        <th> Family Size </th>
                        <th> Deeppan </th>
                        <th> Classic </th>

                    </tr>
                </thead>
                <tbody>

                    @foreach (Pizza p in Model.PizzaList)
                    {
                        <tr>
                            <td>@{
                                    int i = 1 + @Model.PizzaList.IndexOf(p);
                                }@i</td>
                            <td>@p.Name</td>
                            <td>@p.Price </td>
                            <td>@Html.Raw((p.isVegan) ? "✅" : "❌")</td>
                            <td>@Html.Raw((p.isFamilySize) ? "✅" : "❌")</td>
                            <td>@Html.Raw((p.isDeeppan) ? "✅" : "❌")</td>
                            <td>@Html.Raw((p.isClassic) ? "✅" : "❌")</td>





                        </tr>

                    }
                </tbody>

            </table>
        }
    
    
}
